--- 
title: JaguarSoft 
author: "Alberto Alcaraz"
---

%h1 ¿Qué es jaguarsoft?
%p Es un proyecto para el desarrollo y aplicaci&oacute;m de las TIC's con la finalidad de fortalecer la vinculaci&oacute;n de la comunidad tecnol&oacute;gica con los diferentes sectores. 

%p
  %h3 Misi&oacute;n
  La misi&oacute;n del grupo
  %b
    JaguarSoft
  es generar soluciones tecnol&oacute;gicas para optimizar los procesos de las empresas del sector productivo y social de la regi&oacute;n aplicando est&aacute;ndares de calidad.
