--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div.val
  %h1 ¿Qué es jaguarsoft?
  %br
  %br
  %p Es un proyecto para el desarrollo y aplicaci&oacute;m de las TIC's con la finalidad de fortalecer la vinculaci&oacute;n de la comunidad tecnol&oacute;gica con los diferentes sectores. 

%div.link1
  %a(href="acercade.html") ¿Qu&eacute; es JaguarSoft?
  %a(href="mision.html") Misi&oacute;n
  %a(href="vision.html") Visi&oacute;n
  %a(href="valores.html") Valores
  
.side_images
  %img(src="img/earth_one_finger.jpg" width="300px" height="450px")
