--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div.val
  %h1 ¿Qué es jaguarsoft?
  %br
  %br
  %p El departamento de Sistemas y Computación cuenta con el Centro de Innovación y Producción de software denominado  JaguarSoft.  Se trata de un espacio donde los estudiantes de nivel licenciatura y los futuros estudiantes de posgrado pueden desarrollar  soluciones para las empresas del entorno.
  %br
  %br

  %h4 Objetivo general
  %ul
    %li Fortalecer la vinculación de la comunidad tecnológica con los diferentes sectores del entorno a través del desarrollo y aplicación de las TICs. 
  %br

  %h4 Objetivos especificos
  %ul
    %li Vincular  a la comunidad tecnológica con los sectores primario, secundario y terciario del estado de Colima. 
    %li Ofrecer soluciones a problemas y retos de innovación tecnológica del entorno. 
    %li Fortalecer la oferta de vinculación.
    %li Utilizar un nuevo enfoque para el acercamiento de los departamentos educativos a las empresas.
    %li Ver la vinculación como un negocio.
    %li Considerar a la vinculación como una estrategia de nuevas oportunidades. 

%div.link1
  %a(href="acercade.html") ¿Qu&eacute; es JaguarSoft?
  %a(href="mision.html") Misi&oacute;n
  %a(href="vision.html") Visi&oacute;n
  %a(href="valores.html") Valores
  
.side_images
  %img(src="img/earth_one_finger.jpg" width="300px" height="450px")
