--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

#contact
  %br
  %p Para mayores informes favor de contactarnos:
  %br
  %p
    Instituto Tecnol&oacute;gico de Colima
    %br
    Calle: Av. Tecnol&oacute;gico No. 1 Villa &Aacute;lvarez, A.P. 10 y 128
    %br
    C.P. 28976
    %br
    Villa &Aacute;lvarez, Colima.
    %br
    Tel: (01) (312) 312-6393, 312-9920, 314-0683 y 314-0933.
    %br
    %br
    Jes&uacute;s Alberto Verduzco Ram&iacute;rez.
    %br
    Encargado del Departamento de Estudios de Posgrado e Investigaci&oacute;n.
    %br
    Correo: averduzco@itcolima.edu.mx

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Instituto+Tecnologico+de+Colima&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.502405,86.044922&amp;t=h&amp;ie=UTF8&amp;hq=Instituto+Tecnologico+de+Colima&amp;ll=19.262894,-103.723486&amp;spn=0.022444,0.042014&amp;z=14&amp;iwloc=A&amp;cid=2211976993185088638&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Instituto+Tecnologico+de+Colima&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.502405,86.044922&amp;t=h&amp;ie=UTF8&amp;hq=Instituto+Tecnologico+de+Colima&amp;ll=19.262894,-103.723486&amp;spn=0.022444,0.042014&amp;z=14&amp;iwloc=A&amp;cid=2211976993185088638" style="color:#0000FF;text-align:left"></a></small>
