--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

#div.index
  %h1 Bienvenidos a JaguarSoft
  %br
  
  %p <b>JaguarSoft</b> es un proyecto dedicado a desarrollar el conocimiento y manejo de las TIC's.
  %br
  
  %img(src="img/tec.gif" width="700px" height="400px" align="center")
  %br
  %br
  
  %p Este proyecto surge dentro de nuestro plantel el Instituto Tecnol&oacute;gico de Colima. Y ha seguido tras generaciones militantes, estudiantes de este mismo.

