--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

#div.index
  %h1 Bienvenidos a JaguarSoft
  %br
  
  %p Es un proyecto para el desarrollo y aplicaci&oacute;m de las TIC's con la finalidad de fortalecer la vinculaci&oacute;n de la comunidad tecnol&oacute;gica con los diferentes sectores. 
  %br
  
  %img(src="img/tec.gif" width="700px" height="400px" align="center")
  %br
  %br
  
  %p Este proyecto surge dentro de nuestro plantel el Instituto Tecnol&oacute;gico de Colima. Y ha seguido tras generaciones militantes, estudiantes de este mismo.

