--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%h1 Bienvenidos a JaguarSoft
%br

%p <b>Jaguarsoft</b> es un proyecto dedicado a desarrollar el conocimiento y manejo de las TIC's.
%br
Img here
%br
%br
%p Este proyecto surge dentro de nuestro plantel el Insituto Tecnol&oacute;gico de Colima. Y ha seguido tras generaciones militantes, estudiantes del mismo.

