--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div.link1
  %a(href="acercade.html") ¿Qu&eacute; es JaguarSoft?
  %a(href="mision.html") Misi&oacute;n
  %a(href="vision.html") Visi&oacute;n
  %a(href="valores.html") Valores

%div.val
  %h1 Misi&oacute;n
  %br
  %br
  %p La misi&oacute;n del grupo <b>JaguarSoft</b> generar soluciones tecnol&oacute;gicas para optimizar los procesos de las empresas del sector productivo y social de la regi&oacute;n aplicando est&aacute;ndares de calidad.

%div.side-img
  Insert image here
