--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%table#empresas
  %tr
    %td(align='center') 
      %h2 SEDER
      %img(src="img/colima_late.png" class="logo_empresas")
    %td(align='center') 
      %h2 CIAPACOV
      %img(src="img/ciapacov.png" class="logo_empresas")
  %tr
    %td Sistema de intercambio de informaci&oacute; segura entre equipos m&oacute;viles.
    %td Sistema para el &aacute;area comercial.
  %tr
    %td Red estatal de estacions agroclimatol&oacute;gicas de bajo costo.
    %td M&oacute;dulo solicitudes y contrato.
  %tr
    %td Sistemade alertas fitosanitarias para el estado de colima.
    %td M&oacute;dulo convenios y rrequerimientos.
  %tr
    %td Recolecci&oacute; de inidicadorees de la SEDER mediante dispositivos m&oacute;viles.
    %td M&oacute;dulo generaci&oacute;n de recibos.
  %tr
    %td SIG-V-TEC
    %td M&oacute;dulo admisnitraci&oacute;n del sistema 
  %tr
    %td Sistema para elaborar presupuestos  de cultivos y su comercializaci&oacute;n.
    %td Administrac&oacute;n de cajas.
  %tr
    %td Sistema de infromaci&oacute;n de cultivos.
    %td
  %tr
    %td Mercado agr&iacute;cola virtual.
    %td
        
