--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyectos")
  %h2 Sistema de Alertas Fitosanitarias para el Estado de Colima 
  %br

  %h3 Objetivo
  %br
  %p  Implementar un sistema de emisi&oacute;n de boletines informativos que alerten a los agricultores del estado de Colima sobre la presencia de condiciones clim&aacute;ticas que propendan a la aparici&oacute;n de plagas y enfermedades que afecten los cultivos.
  
  %br
  %br

  %h3 Esquema de funcionamiento
  %br
  %img(src="img/safec.png" width="500px" height="400px")
  %br
  %br
  
  %h3 Ventajas
  %br
  %ul
    %li Ofrecer a los agricultores agropecuarios informaci&oacute;n meteorol&oacute;gica en tiempo real, que puede ser aplicada a los procesos de producci&oacute;n y protecci&oacute;n sanitaria ante clima adverso.
    %li Informar de manera oportuna sobre la presencia de condiciones que propenden a la aparici&oacute;n de plagas y enfermedades.

