--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyecto")
  %h2 Sistema de Evaluaci&oacute;n y Consulta para el Desarrollo Agr&iacute;cola 
  %br

  %h3 Objetivo
  %br
  %p  Implementar un sistema integral que:
  %br
  %ul
    %li Proporcione informaci&oacute;n relacionada con la composici&oacute;n qu&iacute;mica de la tierra que permita determinar la voaci&oacute;n del terreno. M&oacute;dulo SIG para consultar datos edafol&oacute;gicos de los terrenos.
    %li Determine la factibilidad de un cultivo de acuerdo a las caracter&iacute;sticas qu&iacute;micas, f&iacute;sicas y ambientales de los suelos agr&iacute;colas.
    %li Proporcione de informaci&oacute;n de cultivos relacionada a los paquetes tecnol&oacute;gicos.
    %li Auxilie ne la elaboraci&oacute;n de proyectos de inversi&oacute;n y comercializaci&oacute;n de productos agr&iacute;colas.
    %li Proporcione informaci&oacute;n sobre la infraestructura ociosa y activa del estado de colima.

  %br
  %br

  %h3 Ventana principal
  %br
  %img(src="img/secda.png" width="500px" height="400px")
  %br
