--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyectos")
  %h2 Sistema para Elaborar Presupuestos de Cultivos y su Comercializaci&oacute;n 
  %br

  %h3 Objetivo
  %br
  %p  Integrar los diferentes elementos que interact&uacute;an en el proceso de producci&oacute;n de los productos agr&iacute;colas para elaborar proyectos de inversi&oacute;n y comercializaci&oacute;n.
  
  %br
  %br

  %h3 Esquema de funcionamiento
  %br
  %img(src="img/sepcc.png" width="300px" height="400px")
  %br
  %br
