--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---
#services
  %h2 Cat&aacute;logo de servicios
  %br
  %ul
    %li Desarrollo de aplicaciones de gesti&oacute;n para escritorio o basadas en web.
    %li Desarrollo de aplicacionespara dispositivos m&oacute;viles.
    %li Implementaci&oacute;n y administraci&oacute; de aplicaciones para negocios electr&oacute;nicos.
    %li Dise&ntilde;o, instalaci&oacute;n y administraci&oacute;n de tecnolog&iacute;as de redes de computadoras.
    %li Mantenimiento preventivo y correctivo de equipo de c&oacute;mputo.
    %li Consultor&iacute;a, asesor&iacute;a en TIC's.
  %br

.side_images
  %img(src="img/consultoria.jpg" width="450px" height="360px")

#foot_images
  %img(src="img/internet.jpg" width="400px" height="300px")
  %img(src="img/red.jpg" width="400px" height="300px")
  %img(src="img/tablet.jpg" width="400px" height="300px")
