--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---
%div.services
  %h2 Cat&aacute;logo de servicios
  %br
  %p Desarrollo de aplicaciones de gesti&oacute;n para escritorio o basadas en web.
  %p Desarrollo de aplicacionespara dispositivos mo&oacute;viles.
  %p Implementaci&oacute;n y administraci&oacute; de aplicaciones para negocios electr&oacute;nicos.
  %p Dise&ntiled;o, indtalaci&oacute;n y administraci&oacute;n de tecnolog&iacute;as de redes de computadoras.
  %p Mantenimiento preventivo y correctivo de equipo de c&oacute;mputo.
  %p Consutlr&iacute;, asesor&iacute; en TIC's.
