--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyectos")
  %h2 Sistema de Informaci&oacute;n de Cultivos 
  %br

  %h3 Objetivo
  %br
  %p  Implementar un sistema que concentre los documentos t&eacute;cnicos en formato multimedia que brinde informaci&oacute;n de los cultivos del estado de Colima.
  
  %br
  %br

  %h3 Esquema de funcionamiento
  %br
  %img(src="img/sic.png" width="500px" height="400px")
  %br
  %br
