--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyecto")
  %h2 Sistema de Informaci&oacute;n Geogr&aacute;fica para la Vocaci&oacute;n de la Tierra del Estado de Colima (SIG-V-TEC) 
  %br

  %h3 Objetivo
  %br
  %p Mejorar la selecci&oacute;n de los cultivos para los agricultores del estado de Colima mediante un sistema de Informaci&oacute;n Geogr&aacute;fica que permita voacionar la tierra.
  
  %br
  %br

  %h3 Esquema de funcionamiento
  %br
  %img(src="img/sigvtec.png" width="500px" height="400px")
  %br
  %br
