--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div(class="proyecto")
  %h2 Sistema de Intercambio de Informaci&oacute;n Segura Entre Equipos M&oacute;viles
  %br

  %h3 Objetivo
  %br
  %p  Implementar un sistema que permita el intercambio y visualizaci&oacute;n segura de informaci&oacute;n a trav&eacute;s de dispositivos m&oacute;viles.
  
  %br
  %br

  %h3 Esquema de funcionamiento
  %br
  %img(src="img/siiseem.jpg" width="500px" height="400px")
  %br
  %br
  
  %h3 Ventajas
  %br
  %ul
    %li Automatizar agenda del personal directivo.
    %li Permitir el intercambio de informaci&oacute;n en tiempo real entre el personal directivo de la SEDER.
    %li Responder a los requerimientos de informaci&oacute;n de manera oportuna utilizando tecnolog&iacute;a m&oacute;vil.



