--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div.link1
  %a(href="acercade.html") ¿Qu&eacute; es JaguarSoft?
  %a(href="mision.html") Misi&oacute;n
  %a(href="vision.html") Visi&oacute;n
  %a(href="valores.html") Valores
  
%div.val
  %h1 Valores
  %ul
    %li 
      Honestidad
    %li 
      Servicio
    %li 
      Respeto 
    %li 
      Responsabilidad
    %li 
      Humildad
    %li 
      Trabajo Colaborativo
    %li 
      Tolerancia

%div.side-img
  Insert image here
