--- 
title: JaguarSoft 
author: "&copy; Todos los derechos reservados a JaguarSoft (2012)"
---

%div.link1
  %a(href="acercade.html") ¿Qu&eacute; es JaguarSoft?
  %a(href="mision.html") Misi&oacute;n
  %a(href="vision.html") Visi&oacute;n
  %a(href="valores.html") Valores
  
%div.val
  %h1 Visi&oacute;n
  %p Ser un grupo l&iacute;der que fortalezca la vinculaci&oactue;n del Instituto Tecnol&oacute;gico de colima para impulsar el uso de las TIC's en los organismos del sector p&uacute;blico y privado de la regi&oacute;

%div.side-img
  Insert image here
