!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title
      = @item[:title]
    %link(rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen")
    %meta(name="generator" content="nanoc 3.3.0")
    :javascript
      var hide = false;
      function showElement(layer){
      var myLayer = document.getElementById(layer);
      if(myLayer.style.display=="none"){
      myLayer.style.display="block";
      myLayer.backgroundPosition="top";
      } 
      }
      function activeHide(layer){
      console.log(layer);
      var myLayer = document.getElementById(layer);
      if(hide === true)
      myLayer.style.display="none";
      }
      function hideElement(layer){
      hide=true;
      setTimeout("activeHide('"+layer+"')", 200);
      }
      function cancelHide(){
      hide=false;
      }
  %body
    %div(id="main")
      %div(id="header")
        %span(id="logo")
          %a(href="#") JagurSoft
        %span(id="logoitc")
          %a(href="http://www.itcolima.edu.mx") Instituto Tecnol&oacute;gico de Colima
      %div(id="menubar")
        %a(href="index.html" id="corner") Inicio
        %a(href="servicios.html") Soluciones Tecnol&oacute;gicas
        %a(href="proyectos.html") Proyectos
        %a(href="") Software 
        %a(href="") Integrantes
        %a(href="#" class="button" onMouseOver="javascript:showElement('v-menu')" onMouseOut="javascript:hideElement('v-menu')")
          Comunidad
        %a(href="contacto.html") Contacto 
        %a(href="acercade.html") Acerca de ...
      %div(id="v-menu" style="display:none;")

        %ul
          %li
            %a(href="#" onMouseOver="javascript:cancelHide()" onMouseOut="javascript:hideElement('v-menu')") DEPI
          %li
            %a(href="http://grubytec.github.com" onMouseOver="javascript:cancelHide()" onMouseOut="javascript:hideElement('v-menu')") GRubyTec
      %div(id="content")
        = yield
      %div(id="footer")
        = @item[:author]
        %p
          %a(href="http://www.freedigitalphotos.net/images/view_photog.php?photogid=2020" target="_blank") Images from twobee / FreeDigitalPhotos.net
