* {
  margin: 0;
  padding: 0;

  font-family:Arial, Helvetica, sans-serif;
}

body {
  background: #FFFFFF;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #3a5e1d));  

  /* Safari 5.1+ y Chrome 10+ */  
  background-image:-webkit-linear-gradient(top,#FFFFFF, #3a5e1d);  

  /* Firefox 3.6+ */  
  background-image:-moz-linear-gradient(top, #FFFFFF, #3a5e1d);  

  /* Opera 11.10+ */  
  background-image:-o-linear-gradient(top, #FFFFFF, #3a5e1d);  

  /* Internet Explorer 5.5+ */  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#3a5e1d');  
} 

span#logo {
  background: url("../img/logo_header.png");
  width: 270px;
  height: 122px;
  margin-top: 20px;
  margin-left: 20px;
  float: left; 
}

span#logo a, span#logo a:visited, span#logo a:hover, span#logo a:link, span#logo a:active {
  position: relative;
  display: block;
  margin: auto;
  width: 200px;
  height: 90px;
  text-indent: -9999px;
  text-decoration: none;
  color: black;
  float: left; 
}

span#logoitc {
  background: url("../img/logo-itc.png");

  width: 100px;
  height: 97px;
  margin-top: 30px;
  margin-right: 20px;
  float: right; 
}

span#logoitc a, span#logoitc a:visited, span#logoitc a:hover, span#logoitc a:link, span#logoitc a:active {
  position: relative;
  display: block;
  margin: auto;
  width: 70px;
  height: 68px;
  text-indent: -9999px;
  text-decoration: none;
  color: black;
  float: left; 
}

#main {
	width: 95%;
	margin-top: 5px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}


#header{
	height:150px;
  display: block;
}

#menubar {
  display: block;
  background-color: #585858;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-radius: 1em;
}

#menubar a {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: #383838 solid 2px;
	text-decoration:none;
	color:white;
}

#menubar a:hover {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: #383838 solid 2px;
	text-decoration:none;
	color:white;
  background-color: #868686;
}

a#corner:hover {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: #383838 solid 2px;
	text-decoration:none;
	color:white;
  background-color: #868686;
  border-radius: 1em 0 0 1em;
}

div#v-menu{
  background-color: #585858;
  border-radius: 0em 0em 1em 1em;
  width: 155px;
  height: 60px;
  float: left;
  margin-left: 765px;
  border-top: #383838 solid 2px;
  display: none;
  position: absolute;

}

#hidden:hover, #v-menu{
  display: block;
}

#v-menu li{
	font-size:16px;
  margin-top: 1px;
  padding-top: 6px;
	margin-left:17px;
	list-style-type: none;
}

#v-menu a{
  padding: 0 50px 0 0 ;
	text-decoration:none;
	color:white;
}

#v-menu a:hover {
  padding: 0 50px 0 0 ;
	text-decoration:none;
	color:white;
  background-color: #868686;
} 

#content{
  min-height: 500px;
  margin-top: 10px;
	padding-top:40px;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-right: auto;
	background-color:#FFFFFF;
  border-radius: 1em;
}

.title{
	font-size:25px;
	font-weight:bold;
	margin-bottom:20px;
}

.description{
	font-size:16px;
	text-align:justify;
}

#footer{
	font-size:10px;
	color: white;
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

.link1 {
  float: right;
  padding-right: 25px;
}

.link1 a,.link1 a:hover, .link1 a:link, .link1 a:active, .link1 a:visited {
  text-decoration: none;
  color: #515151;
  border-left: #515151 solid 1px;
  border-right:#515151 solid 1px;
  padding: 5px 5px 5px 5px;
}

.val {
  width: 600px;
  padding-top: 100px;
  padding-left: 50px;
}

.val ul {
  padding-left: 60px;
  padding-top: 40px;
}

.services {
  padding-top: 50px;
}

.services p {
  padding: 10px 0 10px 15px;
}

#empresas td {
  padding: 5px 10px;
}

#empresas a, #empresas a:link, #empresas a:active, #empresas a:visited {
  color: black;
  text-decoration: none;
  background: url("../img/dot.png") no-repeat;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 3px;
}

#empresas a:hover {
  background-color: rgba(82,143,22,0.6);
}

.logo_empresas {
  width: 100px;
  height: 100px;
}

.proyectos {
  padding-left: 40px;
}

.proyectos img {
  padding-left: 130px;
}

.proyectos ul {
  padding-left: 35px;
}

.proyectos li {
  padding-top: 10px;
  padding-bottom: 10px;
}
