body {
  background-color: #fff; 
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30; 
}

a:hover {
  color: #f90; 
}

#page {
  width: 1000px;
  margin-top: 40px;
  margin-left: 50px; 
}

span#logo {
  background: url("/img/logo_header.png");
  width: 200px;
  height: 90px;
  margin: 0 0;
  float: left; 
}

span#logo a, span#logo a:visited, span#logo a:hover, span#logo a:link, span#logo a:active {
  position: relative;
  display: block;
  margin: auto;
  width: 200px;
  height: 90px;
  text-indent: -9999px;
  text-decoration: none;
  color: black;
  float: left; 
}

span#logoitc {
  background: url("/img/logo-itc.png");
  width: 70px;
  height: 68px;
  margin: 0 0;
  float: left; 
}

span#logoitc a, span#logoitc a:visited, span#logoitc a:hover, span#logoitc a:link, span#logoitc a:active {
  position: relative;
  display: block;
  margin: auto;
  width: 70px;
  height: 68px;
  text-indent: -9999px;
  text-decoration: none;
  color: black;
  float: left; 
}

#main {
  top: 40px;
  left: 280px; 
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px; 
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px; 
}

#main ul, #main ol {
  margin: 20px; 
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#sidebar {
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
  display: block;
  float: left;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px; 
}
